.page-heading{
  color: rgb(10, 11, 12);
}
.col{
  width: 100px;
  font-weight: bold;
  color:rgb(11, 16, 22);
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #333;
}
li{
  display: block;
  float: left;
  padding-left: 80px;
}
li :hover{
  background-color: #04AA6D;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 16px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

